p {
  color: black;
}
.popisky {
  text-align: justify;
}
.center {
  text-align: center;
}
/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.container img {
  max-width: 100%;
  max-height: 100%;
}
