.sloupec {
  /* border: 2px solid red; */
  padding: 20px;
}
#cards {
  justify-content: center;
  margin-top: 5vh;
  padding-left: 2%;
  padding-right: 2%;
}

.modal-content {
  padding: 10px;
  height: fit-content;
  text-align: justify;
}
.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}
.modal {
  --bs-modal-width: 1000px;
}
/* UMISTENI KRIZKU V MODALU NAPRAVO */
.closeButtonclose {
  float: right;
}
.modalNadpisStred {
  text-align: center;
}
