.sloupec {
  /* border: 2px solid red; */
  padding: 20px;
}

#cards {
  justify-content: center;
  margin-top: 5vh;
  padding-left: 2%;
  padding-right: 2%;
}
.card-body {
  margin: 0 auto;
}
.modal-content {
  padding: 10px;
  height: fit-content;
  text-align: justify;
}
.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}
.modal {
  --bs-modal-width: 1000px !important;
}
/* UMISTENI KRIZKU V MODALU NAPRAVO */
.closeButtonclose {
  float: right;
}
.modalNadpisStred {
  text-align: center;
}
#cards img {
  border-radius: 2% 2% 0 0;
  object-fit: cover;
  height: 200px;
  max-width: 100%;
  max-height: 100%;
}
