.fullBackground {
  height: fit-content;
  background-image: url(/public/images/backsky.jpg);
}

#right {
  text-align: right;
  margin-top: 3%;
  color: white;
}
@media (max-width: 767px) {
  #right {
    padding-right: 2%;
    text-align: center;
  }
}
#left {
  color: white;
  padding-left: 2%;
  margin-top: 3%;
}
@media (max-width: 767px) {
  #left {
    text-align: center;
  }
}
