.contentBox {
  box-sizing: border-box;
  margin: 0 auto;
  width: 70%;
  justify-content: right;
}
.owner .contentBox {
  position: relative;
  margin-left: 50px;
}
.heading.inSky.contentBox {
  color: rgb(0, 0, 0);
  /* position: static;
  display: block;
  box-sizing: border-box; */
  padding-top: 100px;
  padding-bottom: 300px;
  border: 2px solid red;
}
